<a href="https://colab.research.google.com/github/iamkishore0/Python_Libraries/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importing required libraries**

In [6]:
import pandas as pd
import numpy as np

**Read csv and excel files
for csv - pd.read_csv('link or path of csv file')

for excel - pd.read_excel('link or path of excel file')**

In [7]:

df = pd.read_csv('https://storage.googleapis.com/kagglesdsdata/datasets/494766/1402868/country_wise_latest.csv?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20221024%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20221024T130017Z&X-Goog-Expires=259200&X-Goog-SignedHeaders=host&X-Goog-Signature=9b288d1845d2d9c53fd33001de5d0d9eb509a5675a2176d40b359a48c520dd0c9c9f29ee98ff2c4ecb816057877eec72dd72797126ac9aee06663f676c7f08b8d2a8d1082dd9e8d766d98502063479e78802e7315cc83b640c9f098d2c800284218548888b8c01281f20e129f02be981d914711e862178ffeaaf39ba4d00572a684c64bf5077188744058e22815fa2ccf3c10498a05e5eaf903ea84895bb17dd933dada2f482f47ce25c5ff2305dde5fcef2baa40e2ee95cb5f3e1e0df09fc16b5693c964aa41b2bb42e3d7dae8c35e086813b2c05f5c8fab9cb9bb9f2459f5e1bf6d180a67e2c3c375604ec6ba068fbb239b2ecb19ff7492fb6303c766d875a')

***Indexing/Slicing***

In [8]:
#head
df.head()

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa

In [9]:
#tail
df.tail()

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa

In [10]:
#print specified try df.tail(7)
df.head(8)

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa
5,Antigua and Barbuda,86,3,65,18,4,0,5,3.49,75.58,4.62,76,10,13.16,Americas
6,Argentina,167416,3059,72575,91782,4890,120,2057,1.83,43.35,4.21,130774,36642,28.02,Americas
7,Armenia,37390,711,26665,10014,73,6,187,1.90,71.32,2.67,34981,2409,6.89,Europe

In [11]:
#describe will do some of the default calculations 
df.describe()

,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase
count,1.870000e+02,187.000000,1.870000e+02,1.870000e+02,187.000000,187.000000,187.000000,187.000000,187.000000,187.00,1.870000e+02,187.000000,187.000000
mean,8.813094e+04,3497.518717,5.063148e+04,3.400194e+04,1222.957219,28.957219,933.812834,3.019519,64.820535,inf,7.868248e+04,9448.459893,13.606203
std,3.833187e+05,14100.002482,1.901882e+05,2.133262e+05,5710.374790,120.037173,4197.719635,3.454302,26.287694,NaN,3.382737e+05,47491.127684,24.509838
min,1.000000e+01,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,1.000000e+01,-47.000000,-3.840000
25%,1.114000e+03,18.500000,6.265000e+02,1.415000e+02,4.000000,0.000000,0.000000,0.945000,48.770000,1.45,1.051500e+03,49.000000,2.775000
50%,5.059000e+03,108.000000,2.815000e+03,1.600000e+03,49.000000,1.000000,22.000000,2.150000,71.320000,3.62,5.020000e+03,432.000000,6.890000
75%,4.046050e+04,734.000000,2.260600e+04,9.149000e+03,419.500000,6.000000,221.000000,3.875000,86.885000,6.44,3.708050e+04,3172.000000,16.855000
max,4.290259e+06,148011.000000,1.846641e+06,2.816444e+06,56336.000000,1076.000000,33728.000000,28.560000,100.000000,inf,3.834677e+06,455582.000000,226.320000

In [12]:
#Shape - counts no. of rows and colums
df.shape

(187, 15)

In [13]:
#slicing rows - prints 0 to 10 rows with 1(every element) - [start,stop,step], try df[0:10:2], 
df[0:10:1]

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa
5,Antigua and Barbuda,86,3,65,18,4,0,5,3.49,75.58,4.62,76,10,13.16,Americas
6,Argentina,167416,3059,72575,91782,4890,120,2057,1.83,43.35,4.21,130774,36642,28.02,Americas
7,Armenia,37390,711,26665,10014,73,6,187,1.90,71.32,2.67,34981,2409,6.89,Europe
8,Australia,15303,167,9311,5825,368,6,137,1.09,60.84,1.79,12428,2875,23.13,Western Pacific
9,Austria,20558,713,18246,1599,86,1,37,3.47,88.75,3.91,19743,815,4.13,Europe

In [14]:
#Sclicing columns
df['Active']

0      9796
1      1991
2      7973
3        52
4       667
       ...
182    6791
183       1
184     375
185    1597
186    2126
Name: Active, Length: 187, dtype: int64

In [15]:
#Access multiple columns
df[['Active','Recovered']]

     Active  Recovered
0      9796      25198
1      1991       2745
2      7973      18837
3        52        803
4       667        242
..      ...        ...
182    6791       3752
183       1          8
184     375        833
185    1597       2815
186    2126        542

[187 rows x 2 columns]

In [16]:
#Access multiple columns with filtering rows
df[['Active','Recovered','New cases']][0:20:3]

    Active  Recovered  New cases
0     9796      25198        106
3       52        803         10
6    91782      72575       4890
9     1599      18246         86
12    3231      36110        351
15    6221      60492        119
18     699       1036          0

In [17]:
#iteration - it will print the rows wise
for i in df.iterrows():
  print(i)

(0, Country/Region                      Afghanistan
Confirmed                                 36263
Deaths                                     1269
Recovered                                 25198
Active                                     9796
New cases                                   106
New deaths                                   10
New recovered                                18
Deaths / 100 Cases                          3.5
Recovered / 100 Cases                     69.49
Deaths / 100 Recovered                     5.04
Confirmed last week                       35526
1 week change                               737
1 week % increase                          2.07
WHO Region                Eastern Mediterranean
Name: 0, dtype: object)
(1, Country/Region            Albania
Confirmed                    4880
Deaths                        144
Recovered                    2745
Active                       1991
New cases                     117
New deaths                      6
New recovered                  63
Deaths / 100 Cases           2.95
Recovered / 100 Cases       56.25
Deaths / 100 Recovered       5.25
Confirmed last week          4171
1 week change                 709
1 week % increase            17.0
WHO Region                 Europe
Name: 1, dtype: object)
(2, Country/Region            Algeria
Confirmed                   27973
Deaths                       1163
Recovered                   18837
Active                       7973
New cases                     616
New deaths                      8
New recovered                 749
Deaths / 100 Cases           4.16
Recovered / 100 Cases       67.34
Deaths / 100 Recovered       6.17
Confirmed last week         23691
1 week change                4282
1 week % increase           18.07
WHO Region                 Africa
Name: 2, dtype: object)
(3, Country/Region            Andorra
Confirmed                     907
Deaths                         52
Recovered                     803
Active                         52
New cases                      10
New deaths                      0
New recovered                   0
Deaths / 100 Cases           5.73
Recovered / 100 Cases       88.53
Deaths / 100 Recovered       6.48
Confirmed last week           884
1 week change                  23
1 week % increase             2.6
WHO Region                 Europe
Name: 3, dtype: object)
(4, Country/Region            Angola
Confirmed                    950
Deaths                        41
Recovered                    242
Active                       667
New cases                     18
New deaths                     1
New recovered                  0
Deaths / 100 Cases          4.32
Recovered / 100 Cases      25.47
Deaths / 100 Recovered     16.94
Confirmed last week          749
1 week change                201
1 week % increase          26.84
WHO Region                Africa
Name: 4, dtype: object)
(5, Country/Region            Antigua and Barbuda
Confirmed                                  86
Deaths                                      3
Recovered                                  65
Active                                     18
New cases                                   4
New deaths                                  0
New recovered                               5
Deaths / 100 Cases                       3.49
Recovered / 100 Cases                   75.58
Deaths / 100 Recovered                   4.62
Confirmed last week                        76
1 week change                              10
1 week % increase                       13.16
WHO Region                           Americas
Name: 5, dtype: object)
(6, Country/Region            Argentina
Confirmed                    167416
Deaths                         3059
Recovered                     72575
Active                        91782
New cases                      4890
New deaths                      120
New recovered                  2057
Deaths / 100 Cases             1.83
Recovered / 100 Cases         43.35
Deaths / 100 Recovered         4.21
Confirmed last week          130774
1 week change                 36642
1 week % increase             28.02
WHO Region                 Americas
Name: 6, dtype: object)
(7, Country/Region            Armenia
Confirmed                   37390
Deaths                        711
Recovered                   26665
Active                      10014
New cases                      73
New deaths                      6
New recovered                 187
Deaths / 100 Cases            1.9
Recovered / 100 Cases       71.32
Deaths / 100 Recovered       2.67
Confirmed last week         34981
1 week change                2409
1 week % increase            6.89
WHO Region                 Europe
Name: 7, dtype: object)
(8, Country/Region                  Australia
Confirmed                           15303
Deaths                                167
Recovered                            9311
Active                               5825
New cases                             368
New deaths                              6
New recovered                         137
Deaths / 100 Cases                   1.09
Recovered / 100 Cases               60.84
Deaths / 100 Recovered               1.79
Confirmed last week                 12428
1 week change                        2875
1 week % increase                   23.13
WHO Region                Western Pacific
Name: 8, dtype: object)
(9, Country/Region            Austria
Confirmed                   20558
Deaths                        713
Recovered                   18246
Active                       1599
New cases                      86
New deaths                      1
New recovered                  37
Deaths / 100 Cases           3.47
Recovered / 100 Cases       88.75
Deaths / 100 Recovered       3.91
Confirmed last week         19743
1 week change                 815
1 week % increase            4.13
WHO Region                 Europe
Name: 9, dtype: object)
(10, Country/Region            Azerbaijan
Confirmed                      30446
Deaths                           423
Recovered                      23242
Active                          6781
New cases                        396
New deaths                         6
New recovered                    558
Deaths / 100 Cases              1.39
Recovered / 100 Cases          76.34
Deaths / 100 Recovered          1.82
Confirmed last week            27890
1 week change                   2556
1 week % increase               9.16
WHO Region                    Europe
Name: 10, dtype: object)
(11, Country/Region             Bahamas
Confirmed                      382
Deaths                          11
Recovered                       91
Active                         280
New cases                       40
New deaths                       0
New recovered                    0
Deaths / 100 Cases            2.88
Recovered / 100 Cases        23.82
Deaths / 100 Recovered       12.09
Confirmed last week            174
1 week change                  208
1 week % increase           119.54
WHO Region                Americas
Name: 11, dtype: object)
(12, Country/Region                          Bahrain
Confirmed                                 39482
Deaths                                      141
Recovered                                 36110
Active                                     3231
New cases                                   351
New deaths                                    1
New recovered                               421
Deaths / 100 Cases                         0.36
Recovered / 100 Cases                     91.46
Deaths / 100 Recovered                     0.39
Confirmed last week                       36936
1 week change                              2546
1 week % increase                          6.89
WHO Region                Eastern Mediterranean
Name: 12, dtype: object)
(13, Country/Region                 Bangladesh
Confirmed                          226225
Deaths                               2965
Recovered                          125683
Active                              97577
New cases                            2772
New deaths                             37
New recovered                        1801
Deaths / 100 Cases                   1.31
Recovered / 100 Cases               55.56
Deaths / 100 Recovered               2.36
Confirmed last week                207453
1 week change                       18772
1 week % increase                    9.05
WHO Region                South-East Asia
Name: 13, dtype: object)
(14, Country/Region            Barbados
Confirmed                      110
Deaths                           7
Recovered                       94
Active                           9
New cases                        0
New deaths                       0
New recovered                    0
Deaths / 100 Cases            6.36
Recovered / 100 Cases        85.45
Deaths / 100 Recovered        7.45
Confirmed last week            106
1 week change                    4
1 week % increase             3.77
WHO Region                Americas
Name: 14, dtype: object)
(15, Country/Region            Belarus
Confirmed                   67251
Deaths                        538
Recovered                   60492
Active                       6221
New cases                     119
New deaths                      4
New recovered                  67
Deaths / 100 Cases            0.8
Recovered / 100 Cases       89.95
Deaths / 100 Recovered       0.89
Confirmed last week         66213
1 week change                1038
1 week % increase            1.57
WHO Region                 Europe
Name: 15, dtype: object)
(16, Country/Region            Belgium
Confirmed                   66428
Deaths                       9822
Recovered                   17452
Active                      39154
New cases                     402
New deaths                      1
New recovered                  14
Deaths / 100 Cases          14.79
Recovered / 100 Cases       26.27
Deaths / 100 Recovered      56.28
Confirmed last week         64094
1 week change                2334
1 week % increase            3.64
WHO Region                 Europe
Name: 16, dtype: object)
(17, Country/Region              Belize
Confirmed                       48
Deaths                           2
Recovered                       26
Active                          20
New cases                        0
New deaths                       0
New recovered                    0
Deaths / 100 Cases            4.17
Recovered / 100 Cases        54.17
Deaths / 100 Recovered        7.69
Confirmed last week             40
1 week change                    8
1 week % increase             20.0
WHO Region                Americas
Name: 17, dtype: object)
(18, Country/Region             Benin
Confirmed                   1770
Deaths                        35
Recovered                   1036
Active                       699
New cases                      0
New deaths                     0
New recovered                  0
Deaths / 100 Cases          1.98
Recovered / 100 Cases      58.53
Deaths / 100 Recovered      3.38
Confirmed last week         1602
1 week change                168
1 week % increase          10.49
WHO Region                Africa
Name: 18, dtype: object)
(19, Country/Region                     Bhutan
Confirmed                              99
Deaths                                  0
Recovered                              86
Active                                 13
New cases                               4
New deaths                              0
New recovered                           1
Deaths / 100 Cases                    0.0
Recovered / 100 Cases               86.87
Deaths / 100 Recovered                0.0
Confirmed last week                    90
1 week change                           9
1 week % increase                    10.0
WHO Region                South-East Asia
Name: 19, dtype: object)
(20, Country/Region             Bolivia
Confirmed                    71181
Deaths                        2647
Recovered                    21478
Active                       47056
New cases                     1752
New deaths                      64
New recovered                  309
Deaths / 100 Cases            3.72
Recovered / 100 Cases        30.17
Deaths / 100 Recovered       12.32
Confirmed last week          60991
1 week change                10190
1 week % increase            16.71
WHO Region                Americas
Name: 20, dtype: object)
(21, Country/Region            Bosnia and Herzegovina
Confirmed                                  10498
Deaths                                       294
Recovered                                   4930
Active                                      5274
New cases                                    731
New deaths                                    14
New recovered                                375
Deaths / 100 Cases                           2.8
Recovered / 100 Cases                      46.96
Deaths / 100 Recovered                      5.96
Confirmed last week                         8479
1 week change                               2019
1 week % increase                          23.81
WHO Region                                Europe
Name: 21, dtype: object)
(22, Country/Region            Botswana
Confirmed                      739
Deaths                           2
Recovered                       63
Active                         674
New cases                       53
New deaths                       1
New recovered                   11
Deaths / 100 Cases            0.27
Recovered / 100 Cases         8.53
Deaths / 100 Recovered        3.17
Confirmed last week            522
1 week change                  217
1 week % increase            41.57
WHO Region                  Africa
Name: 22, dtype: object)
(23, Country/Region              Brazil
Confirmed                  2442375
Deaths                       87618
Recovered                  1846641
Active                      508116
New cases                    23284
New deaths                     614
New recovered                33728
Deaths / 100 Cases            3.59
Recovered / 100 Cases        75.61
Deaths / 100 Recovered        4.74
Confirmed last week        2118646
1 week change               323729
1 week % increase            15.28
WHO Region                Americas
Name: 23, dtype: object)
(24, Country/Region                     Brunei
Confirmed                             141
Deaths                                  3
Recovered                             138
Active                                  0
New cases                               0
New deaths                              0
New recovered                           0
Deaths / 100 Cases                   2.13
Recovered / 100 Cases               97.87
Deaths / 100 Recovered               2.17
Confirmed last week                   141
1 week change                           0
1 week % increase                     0.0
WHO Region                Western Pacific
Name: 24, dtype: object)
(25, Country/Region            Bulgaria
Confirmed                    10621
Deaths                         347
Recovered                     5585
Active                        4689
New cases                      194
New deaths                       7
New recovered                  230
Deaths / 100 Cases            3.27
Recovered / 100 Cases        52.58
Deaths / 100 Recovered        6.21
Confirmed last week           8929
1 week change                 1692
1 week % increase            18.95
WHO Region                  Europe
Name: 25, dtype: object)
(26, Country/Region            Burkina Faso
Confirmed                         1100
Deaths                              53
Recovered                          926
Active                             121
New cases                           14
New deaths                           0
New recovered                        6
Deaths / 100 Cases                4.82
Recovered / 100 Cases            84.18
Deaths / 100 Recovered            5.72
Confirmed last week               1065
1 week change                       35
1 week % increase                 3.29
WHO Region                      Africa
Name: 26, dtype: object)
(27, Country/Region                      Burma
Confirmed                             350
Deaths                                  6
Recovered                             292
Active                                 52
New cases                               0
New deaths                              0
New recovered                           2
Deaths / 100 Cases                   1.71
Recovered / 100 Cases               83.43
Deaths / 100 Recovered               2.05
Confirmed last week                   341
1 week change                           9
1 week % increase                    2.64
WHO Region                South-East Asia
Name: 27, dtype: object)
(28, Country/Region            Burundi
Confirmed                     378
Deaths                          1
Recovered                     301
Active                         76
New cases                      17
New deaths                      0
New recovered                  22
Deaths / 100 Cases           0.26
Recovered / 100 Cases       79.63
Deaths / 100 Recovered       0.33
Confirmed last week           322
1 week change                  56
1 week % increase           17.39
WHO Region                 Africa
Name: 28, dtype: object)
(29, Country/Region            Cabo Verde
Confirmed                       2328
Deaths                            22
Recovered                       1550
Active                           756
New cases                         21
New deaths                         0
New recovered                    103
Deaths / 100 Cases              0.95
Recovered / 100 Cases          66.58
Deaths / 100 Recovered          1.42
Confirmed last week             2071
1 week change                    257
1 week % increase              12.41
WHO Region                    Africa
Name: 29, dtype: object)
(30, Country/Region                   Cambodia
Confirmed                             226
Deaths                                  0
Recovered                             147
Active                                 79
New cases                               1
New deaths                              0
New recovered                           4
Deaths / 100 Cases                    0.0
Recovered / 100 Cases               65.04
Deaths / 100 Recovered                0.0
Confirmed last week                   171
1 week change                          55
1 week % increase                   32.16
WHO Region                Western Pacific
Name: 30, dtype: object)
(31, Country/Region            Cameroon
Confirmed                    17110
Deaths                         391
Recovered                    14539
Active                        2180
New cases                      402
New deaths                       6
New recovered                    0
Deaths / 100 Cases            2.29
Recovered / 100 Cases        84.97
Deaths / 100 Recovered        2.69
Confirmed last week          16157
1 week change                  953
1 week % increase              5.9
WHO Region                  Africa
Name: 31, dtype: object)
(32, Country/Region              Canada
Confirmed                   116458
Deaths                        8944
Recovered                        0
Active                      107514
New cases                      682
New deaths                      11
New recovered                    0
Deaths / 100 Cases            7.68
Recovered / 100 Cases          0.0
Deaths / 100 Recovered         inf
Confirmed last week         112925
1 week change                 3533
1 week % increase             3.13
WHO Region                Americas
Name: 32, dtype: object)
(33, Country/Region            Central African Republic
Confirmed                                     4599
Deaths                                          59
Recovered                                     1546
Active                                        2994
New cases                                        0

***LOC and iLOC***

In [18]:
#LOC - accessing rows
df.loc[1]

Country/Region            Albania
Confirmed                    4880
Deaths                        144
Recovered                    2745
Active                       1991
New cases                     117
New deaths                      6
New recovered                  63
Deaths / 100 Cases           2.95
Recovered / 100 Cases       56.25
Deaths / 100 Recovered       5.25
Confirmed last week          4171
1 week change                 709
1 week % increase            17.0
WHO Region                 Europe
Name: 1, dtype: object

In [19]:
#LOC -  Accessing rows and columns
df.loc[1,['New recovered']]

New recovered    63
Name: 1, dtype: object

In [20]:
#Disadvantage with LOC - STOP also included
df.loc[0:5]

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa
5,Antigua and Barbuda,86,3,65,18,4,0,5,3.49,75.58,4.62,76,10,13.16,Americas

In [21]:
#Rectify the disadvantage of LOC with iLOC
df.iloc[0:5]

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa

In [22]:
#loc with [start:start,'column name']

df.loc[0:5,'Deaths']

0    1269
1     144
2    1163
3      52
4      41
5       3
Name: Deaths, dtype: int64

In [23]:
#Range not only for rows and also for columns
df.loc[0:5,'Deaths':'New recovered']

   Deaths  Recovered  Active  New cases  New deaths  New recovered
0    1269      25198    9796        106          10             18
1     144       2745    1991        117           6             63
2    1163      18837    7973        616           8            749
3      52        803      52         10           0              0
4      41        242     667         18           1              0
5       3         65      18          4           0              5

In [24]:
#iLoc - Stop index excluded
df.iloc[0:4]

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe

In [25]:
#rows and columns ranges with iloc - columns must be accessed with index numbers - with strings not possible
df.iloc[0:4,0:5]

  Country/Region  Confirmed  Deaths  Recovered  Active
0    Afghanistan      36263    1269      25198    9796
1        Albania       4880     144       2745    1991
2        Algeria      27973    1163      18837    7973
3        Andorra        907      52        803      52

In [26]:
#Accessing specified - row,column
df.iloc[3,4]

52

In [27]:
#rows range with particular column
df.iloc[0:5,3]

0    25198
1     2745
2    18837
3      803
4      242
Name: Recovered, dtype: int64

In [28]:
#Print only rows without range
df.iloc[[1,5,9]]

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
5,Antigua and Barbuda,86,3,65,18,4,0,5,3.49,75.58,4.62,76,10,13.16,Americas
9,Austria,20558,713,18246,1599,86,1,37,3.47,88.75,3.91,19743,815,4.13,Europe

In [29]:
#start -stop with columns
df.iloc[0:4,2:5]

   Deaths  Recovered  Active
0    1269      25198    9796
1     144       2745    1991
2    1163      18837    7973
3      52        803      52

***Sorting***

In [30]:
#sort column with ascending order
df.sort_values('Recovered')

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
32,Canada,116458,8944,0,107514,682,11,0,7.68,0.00,inf,112925,3533,3.13,Americas
163,Syria,674,40,0,634,24,2,0,5.93,0.00,inf,522,152,29.12,Eastern Mediterranean
147,Serbia,24141,543,0,23598,411,9,0,2.25,0.00,inf,21253,2888,13.59,Europe
161,Sweden,79395,5700,0,73695,398,3,0,7.18,0.00,inf,78048,1347,1.73,Europe
117,Mozambique,1701,11,0,1690,32,0,0,0.65,0.00,inf,1507,194,12.87,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35,Chile,347923,9187,319954,18782,2133,75,1859,2.64,91.96,2.87,333029,14894,4.47,Americas
138,Russia,816680,13334,602249,201097,5607,85,3077,1.63,73.74,2.21,776212,40468,5.21,Europe
79,India,1480073,33408,951166,495499,44457,637,33598,2.26,64.26,3.51,1155338,324735,28.11,South-East Asia
173,US,4290259,148011,1325804,2816444,56336,1076,27941,3.45,30.90,11.16,3834677,455582,11.88,Americas
23,Brazil,2442375,87618,1846641,508116,23284,614,33728,3.59,75.61,4.74,2118646,323729,15.28,Americas

In [31]:
#sort column with descending order
df.sort_values('Recovered', ascending=False)

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
23,Brazil,2442375,87618,1846641,508116,23284,614,33728,3.59,75.61,4.74,2118646,323729,15.28,Americas
173,US,4290259,148011,1325804,2816444,56336,1076,27941,3.45,30.90,11.16,3834677,455582,11.88,Americas
79,India,1480073,33408,951166,495499,44457,637,33598,2.26,64.26,3.51,1155338,324735,28.11,South-East Asia
138,Russia,816680,13334,602249,201097,5607,85,3077,1.63,73.74,2.21,776212,40468,5.21,Europe
35,Chile,347923,9187,319954,18782,2133,75,1859,2.64,91.96,2.87,333029,14894,4.47,Americas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,Canada,116458,8944,0,107514,682,11,0,7.68,0.00,inf,112925,3533,3.13,Americas
168,Timor-Leste,24,0,0,24,0,0,0,0.00,0.00,0.00,24,0,0.00,South-East Asia
147,Serbia,24141,543,0,23598,411,9,0,2.25,0.00,inf,21253,2888,13.59,Europe
163,Syria,674,40,0,634,24,2,0,5.93,0.00,inf,522,152,29.12,Eastern Mediterranean
161,Sweden,79395,5700,0,73695,398,3,0,7.18,0.00,inf,78048,1347,1.73,Europe

In [32]:
#sort values by comparing two columns, preference will be given to first given column, try ascending=False
df.sort_values(['Country/Region','Active'])

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa

***Manupilating***

In [33]:
#Adding a new column 
df['Total deaths'] = 0
df

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region,Total deaths
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean,0
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe,0
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa,0
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe,0
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean,0
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa,0
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean,0
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa,0
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa,0

In [34]:
#Adding data to new column
df['Total deaths'] = df['Deaths'] + df['New deaths']
df['Total Recovered'] = df['Recovered'] + df['New recovered']
df

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region,Total deaths,Total Recovered
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean,1279,25216
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe,150,2808
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa,1171,19586
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe,52,803
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa,42,242
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean,80,3752
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa,1,8
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean,487,869
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa,141,3280
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa,38,566

In [35]:
#Delete a column temporarly
df.drop(columns='Total deaths')

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region,Total Recovered
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean,25216
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe,2808
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa,19586
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe,803
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa,242
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean,3752
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa,8
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean,869
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa,3280
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa,566

In [36]:
#Delete a column permanently
df.drop(columns='Total deaths',inplace=True)

***Removing duplicates***

In [37]:
#Check duplicates
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
182    False
183    False
184    False
185    False
186    False
Length: 187, dtype: bool

In [38]:
df

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region,Total Recovered
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean,25216
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe,2808
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa,19586
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe,803
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa,242
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean,3752
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa,8
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean,869
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa,3280
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa,566

In [39]:
#Creating duplicates in new dataset
df_duplicated = pd.concat([df]*2)

In [40]:
#Now check duplicates
df_duplicated.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
182     True
183     True
184     True
185     True
186     True
Length: 374, dtype: bool

In [41]:
#Deletes duplicates and check for duplications, take of inplace
df_duplicated.drop_duplicates(inplace=True)
df_duplicated.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
182    False
183    False
184    False
185    False
186    False
Length: 187, dtype: bool

***Handling Missing Data***

In [42]:
#Creating a dataframe with df2
my_dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}

df2 = pd.DataFrame(my_dict)
df2

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2          NaN          56.0         80.0
3         95.0           NaN         98.0

In [43]:
#Filling the missing data with default values, we can give int,float, str and True(any)
df2.fillna(40)

   First Score  Second Score  Third Score
0        100.0          30.0         40.0
1         90.0          45.0         40.0
2         40.0          56.0         80.0
3         95.0          40.0         98.0

In [44]:
#Fill missing data with slicing
df2['Third Score'].fillna(20)

0    20.0
1    40.0
2    80.0
3    98.0
Name: Third Score, dtype: float64

In [45]:
#Drop missing data
df2.dropna()

   First Score  Second Score  Third Score
1         90.0          45.0         40.0

***Data filtering and conditional changes***

In [46]:
#Simple condition
df.loc[df['Active']<50]

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region,Total Recovered
5,Antigua and Barbuda,86,3,65,18,4,0,5,3.49,75.58,4.62,76,10,13.16,Americas,70
14,Barbados,110,7,94,9,0,0,0,6.36,85.45,7.45,106,4,3.77,Americas,94
17,Belize,48,2,26,20,0,0,0,4.17,54.17,7.69,40,8,20.00,Americas,26
19,Bhutan,99,0,86,13,4,0,1,0.00,86.87,0.00,90,9,10.00,South-East Asia,87
24,Brunei,141,3,138,0,0,0,0,2.13,97.87,2.17,141,0,0.00,Western Pacific,138
34,Chad,922,75,810,37,7,0,0,8.13,87.85,9.26,889,33,3.71,Africa,810
38,Comoros,354,7,328,19,0,0,0,1.98,92.66,2.13,334,20,5.99,Africa,328
48,Djibouti,5059,58,4977,24,9,0,11,1.15,98.38,1.17,5020,39,0.78,Eastern Mediterranean,4988
49,Dominica,18,0,18,0,0,0,0,0.00,100.00,0.00,18,0,0.00,Americas,18
56,Estonia,2034,69,1923,42,0,0,1,3.39,94.54,3.59,2021,13,0.64,Europe,1924
59,Fiji,27,0,18,9,0,0,0,0.00,66.67,0.00,27,0,0.00,Western Pacific,18
68,Greenland,14,0,13,1,1,0,0,0.00,92.86,0.00,13,1,7.69,Europe,13
69,Grenada,23,0,23,0,0,0,0,0.00,100.00,0.00,23,0,0.00,Americas,23
75,Holy See,12,0,12,0,0,0,0,0.00,100.00,0.00,12,0,0.00,Europe,12
78,Iceland,1854,10,1823,21,7,0,0,0.54,98.33,0.55,1839,15,0.82,Europe,1823
94,Laos,20,0,19,1,0,0,0,0.00,95.00,0.00,19,1,5.26,Western Pacific,19
100,Liechtenstein,86,1,81,4,0,0,0,1.16,94.19,1.23,86,0,0.00,Europe,81
108,Malta,701,9,665,27,1,0,0,1.28,94.86,1.35,677,24,3.55,Europe,665
110,Mauritius,344,10,332,2,0,0,0,2.91,96.51,3.01,343,1,0.29,Africa,332
113,Monaco,116,4,104,8,0,0,0,3.45,89.66,3.85,109,7,6.42,Europe,104
121,New Zealand,1557,22,1514,21,1,0,1,1.41,97.24,1.45,1555,2,0.13,Western Pacific,1515
123,Niger,1132,69,1027,36,0,0,0,6.10,90.72,6.72,1105,27,2.44,Africa,1027
140,Saint Kitts and Nevis,17,0,15,2,0,0,0,0.00,88.24,0.00,17,0,0.00,Americas,15
141,Saint Lucia,24,0,22,2,0,0,0,0.00,91.67,0.00,23,1,4.35,Americas,22
142,Saint Vincent and the Grenadines,52,0,39,13,0,0,0,0.00,75.00,0.00,50,2,4.00,Americas,39
143,San Marino,699,42,657,0,0,0,0,6.01,93.99,6.39,699,0,0.00,Europe,657
164,Taiwan*,462,7,440,15,4,0,0,1.52,95.24,1.59,451,11,2.44,Western Pacific,440
168,Timor-Leste,24,0,0,24,0,0,0,0.00,0.00,0.00,24,0,0.00,South-East Asia,0
170,Trinidad and Tobago,148,8,128,12,1,0,0,5.41,86.49,6.25,137,11,8.03,Americas,128
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa,8

In [47]:
#Muti-conditional
df.loc[(df['Deaths']>10) & (df['Deaths']<50)]

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region,Total Recovered
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa,242
11,Bahamas,382,11,91,280,40,0,0,2.88,23.82,12.09,174,208,119.54,Americas,91
18,Benin,1770,35,1036,699,0,0,0,1.98,58.53,3.38,1602,168,10.49,Africa,1036
29,Cabo Verde,2328,22,1550,756,21,0,103,0.95,66.58,1.42,2071,257,12.41,Africa,1653
45,Cyprus,1060,19,852,189,3,0,0,1.79,80.38,2.23,1038,22,2.12,Europe,852
57,Eswatini,2316,34,1025,1257,109,2,39,1.47,44.26,3.32,1826,490,26.83,Africa,1064
62,Gabon,7189,49,4682,2458,205,0,219,0.68,65.13,1.05,6433,756,11.75,Africa,4901
64,Georgia,1137,16,922,199,6,0,2,1.41,81.09,1.74,1039,98,9.43,Europe,924
71,Guinea,7055,45,6257,753,47,2,105,0.64,88.69,0.72,6590,465,7.06,Africa,6362
72,Guinea-Bissau,1954,26,803,1125,0,0,0,1.33,41.10,3.24,1949,5,0.26,Africa,803
73,Guyana,389,20,181,188,19,0,0,5.14,46.53,11.05,337,52,15.43,Americas,181
88,Jordan,1176,11,1041,124,8,0,0,0.94,88.52,1.06,1223,-47,-3.84,Eastern Mediterranean,1041
95,Latvia,1219,31,1045,143,0,0,0,2.54,85.73,2.97,1192,27,2.27,Europe,1045
97,Lesotho,505,12,128,365,0,0,0,2.38,25.35,9.38,359,146,40.67,Africa,128
106,Maldives,3369,15,2547,807,67,0,19,0.45,75.60,0.59,2999,370,12.34,South-East Asia,2566
115,Montenegro,2893,45,809,2039,94,2,70,1.56,27.96,5.56,2188,705,32.22,Europe,879
117,Mozambique,1701,11,0,1690,32,0,0,0.65,0.00,inf,1507,194,12.87,Africa,0
119,Nepal,18752,48,13754,4950,139,3,626,0.26,73.35,0.35,17844,908,5.09,South-East Asia,14380
121,New Zealand,1557,22,1514,21,1,0,1,1.41,97.24,1.45,1555,2,0.13,Western Pacific,1515
131,Paraguay,4548,43,2905,1600,104,2,111,0.95,63.87,1.48,3748,800,21.34,Americas,3016
143,San Marino,699,42,657,0,0,0,0,6.01,93.99,6.39,699,0,0.00,Europe,657
144,Sao Tome and Principe,865,14,734,117,2,0,38,1.62,84.86,1.91,746,119,15.95,Africa,772
150,Singapore,50838,27,45692,5119,469,0,171,0.05,89.88,0.06,48035,2803,5.84,Western Pacific,45863
151,Slovakia,2181,28,1616,537,2,0,39,1.28,74.09,1.73,1980,201,10.15,Europe,1655
156,South Sudan,2305,46,1175,1084,43,1,0,2.00,50.98,3.91,2211,94,4.25,Africa,1175
158,Sri Lanka,2805,11,2121,673,23,0,15,0.39,75.61,0.52,2730,75,2.75,South-East Asia,2136
160,Suriname,1483,24,925,534,44,1,35,1.62,62.37,2.59,1079,404,37.44,Americas,960
163,Syria,674,40,0,634,24,2,0,5.93,0.00,inf,522,152,29.12,Eastern Mediterranean,0
166,Tanzania,509,21,183,305,0,0,0,4.13,35.95,11.48,509,0,0.00,Africa,183
169,Togo,874,18,607,249,6,0,8,2.06,69.45,2.97,783,91,11.62,Africa,615
178,Uruguay,1202,35,951,216,10,1,3,2.91,79.12,3.68,1064,138,12.97,Americas,954
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa,566

In [48]:
#Filtering strings with containing letter
df.loc[df['Country/Region'].str.contains('b')]

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region,Total Recovered
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe,2808
5,Antigua and Barbuda,86,3,65,18,4,0,5,3.49,75.58,4.62,76,10,13.16,Americas,70
10,Azerbaijan,30446,423,23242,6781,396,6,558,1.39,76.34,1.82,27890,2556,9.16,Europe,23800
14,Barbados,110,7,94,9,0,0,0,6.36,85.45,7.45,106,4,3.77,Americas,94
29,Cabo Verde,2328,22,1550,756,21,0,103,0.95,66.58,1.42,2071,257,12.41,Africa,1653
30,Cambodia,226,0,147,79,1,0,4,0.00,65.04,0.00,171,55,32.16,Western Pacific,151
33,Central African Republic,4599,59,1546,2994,0,0,0,1.28,33.62,3.82,4548,51,1.12,Africa,1546
37,Colombia,257101,8777,131161,117163,16306,508,11494,3.41,51.02,6.69,204005,53096,26.03,Americas,142655
44,Cuba,2532,87,2351,94,37,0,2,3.44,92.85,3.70,2446,86,3.52,Americas,2353
48,Djibouti,5059,58,4977,24,9,0,11,1.15,98.38,1.17,5020,39,0.78,Eastern Mediterranean,4988
50,Dominican Republic,64156,1083,30204,32869,1248,20,1601,1.69,47.08,3.59,53956,10200,18.90,Americas,31805
62,Gabon,7189,49,4682,2458,205,0,219,0.68,65.13,1.05,6433,756,11.75,Africa,4901
63,Gambia,326,8,66,252,49,2,6,2.45,20.25,12.12,112,214,191.07,Africa,72
96,Lebanon,3882,51,1709,2122,132,0,17,1.31,44.02,2.98,2905,977,33.63,Eastern Mediterranean,1726
98,Liberia,1167,72,646,449,5,0,5,6.17,55.36,11.15,1107,60,5.42,Africa,651
99,Libya,2827,64,577,2186,158,4,24,2.26,20.41,11.09,1980,847,42.78,Eastern Mediterranean,601
102,Luxembourg,6321,112,4825,1384,49,0,178,1.77,76.33,2.32,5639,682,12.09,Europe,5003
117,Mozambique,1701,11,0,1690,32,0,0,0.65,0.00,inf,1507,194,12.87,Africa,0
118,Namibia,1843,8,101,1734,68,0,26,0.43,5.48,7.92,1344,499,37.13,Africa,127
145,Saudi Arabia,268934,2760,222936,43238,1993,27,2613,1.03,82.90,1.24,253349,15585,6.15,Eastern Mediterranean,225549
147,Serbia,24141,543,0,23598,411,9,0,2.25,0.00,inf,21253,2888,13.59,Europe,0
170,Trinidad and Tobago,148,8,128,12,1,0,0,5.41,86.49,6.25,137,11,8.03,Americas,128
176,United Arab Emirates,59177,345,52510,6322,264,1,328,0.58,88.73,0.66,57193,1984,3.47,Eastern Mediterranean,52838
179,Uzbekistan,21209,121,11674,9414,678,5,569,0.57,55.04,1.04,17149,4060,23.67,Europe,12243
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa,3280
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa,566

In [49]:
#Filtering strigs with starting letters
df.loc[df['Country/Region'].str.startswith('I')]

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region,Total Recovered
78,Iceland,1854,10,1823,21,7,0,0,0.54,98.33,0.55,1839,15,0.82,Europe,1823
79,India,1480073,33408,951166,495499,44457,637,33598,2.26,64.26,3.51,1155338,324735,28.11,South-East Asia,984764
80,Indonesia,100303,4838,58173,37292,1525,57,1518,4.82,58.00,8.32,88214,12089,13.70,South-East Asia,59691
81,Iran,293606,15912,255144,22550,2434,212,1931,5.42,86.90,6.24,276202,17404,6.30,Eastern Mediterranean,257075
82,Iraq,112585,4458,77144,30983,2553,96,1927,3.96,68.52,5.78,94693,17892,18.89,Eastern Mediterranean,79071
83,Ireland,25892,1764,23364,764,11,0,0,6.81,90.24,7.55,25766,126,0.49,Europe,23364
84,Israel,63985,474,27133,36378,2029,4,108,0.74,42.41,1.75,52003,11982,23.04,Europe,27241
85,Italy,246286,35112,198593,12581,168,5,147,14.26,80.64,17.68,244624,1662,0.68,Europe,198740

In [50]:
#Recomending safe to travel regions with multi conditions

df['safe to travel']=0
df.loc[df['New cases']<20,['safe to travel']]='yes'
df.loc[(df['New cases']>=20) & (df['New cases']<40), ['safe to travel']]='under observation'
df.loc[df['New cases']>40,['safe to travel']]='no'

In [51]:
df

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region,Total Recovered,safe to travel
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean,25216,no
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe,2808,no
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa,19586,no
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe,803,yes
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa,242,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean,3752,no
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa,8,yes
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean,869,yes
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa,3280,no
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa,566,no

***Saving data frame to csv***

In [54]:
df.to_csv('new.csv')

In [55]:
ls

new  new.csv  sample_data/